/* CSS style of What Remains blog */

/* 
	VGAsquarePx font <3
	http://int10h.org/oldschool-pc-fonts
	Everything needs to be 16px normal weight and style
*/

@font-face {
  font-family: 'VGAsquarePx';
  src: url(vga_squarepx.eot);
  src: url(vga_squarepx.eot?#iefix) format('embedded-opentype'),
       url(vga_squarepx.woff2) format('woff2'),
       url(vga_squarepx.woff) format('woff'),
       url(vga_squarepx.ttf) format('truetype');
  font-weight: normal;
  font-style: normal;
}


h1 { font-weight:normal; font-size: 24px;}
h2 { font-weight:normal; font-size: 24px;}
h3 { font-weight:normal; font-size: 24px;}


/* The rest */

html {
	font-family: VGAsquarePx, monospace;
	font-size: 24px;
    line-height: 0.8;
	color: #008888;
	background-color: #f8f8f8;
}

body {
	font-size: 100%;
	margin: auto;
}

#content {
	max-width: 800px;
	width: 80%;
	margin: 0 auto;
}

#banner {
	height: 200px;
	text-align: center;
	background: url("title.png") no-repeat top center;
	background-color: #4428bc;
}

#banner a {
	display: block;
	height: 200px;
}

p img {
	display: block;	
	max-width: 90%;
	margin: 0 auto;
}

.noblock {
	display: inline;
}

pre, code {
	font-family: VGAsquarePx, monospace;
	font-size: 24px;
	line-height: 19px;
	color: #f85898;
}

a {
	color: #d800cc;
}

#menu a, #about a {
	color: #f878f8;
}

#menu {
	text-align: center;
	background-color: #4428bc;
	padding: 1%;
}

ul.menu {
	list-style-type: none;
	/*background-color: #4428bc;*/
}

#about {
	font-style: normal;
	text-align: center;
	background-color: #4428bc;
	padding: 50px;
}

